{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <!-- Calling our css file  -->
    <link href="{{=URL('static', 'css/myapp.css')}}" rel="stylesheet" type="text/css" />
    <!-- API to route to other pages besides the main page.  -->
    <script> 
      var go_to_backlog_graph_page = "{{=URL('api', 'get_post_list')}}";
      var get_user_info = "{{=URL('api', 'get_user_info')}}";
    </script>

{{end}}

<div id="vue-div" class="display:none">
        
    <!-- Create the Side Navigation Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <span >
        <span >
            <a href="{{=URL('default', 'index')}}" > Home </a>
        </span>
        <a href="{{=URL('default', 'dashboard')}}" > Dashboard </a>
        </span>
        <span v-on:click="go_to_backlog_graph">
            <a href="{{=URL('default', 'backlog')}}" > Backlog Graph</a>
        </span>
        <span v-on:click="go_to_work_done_graph">
            <a href="{{=URL('default','work_done')}}" > Work Done Graph</a>
        </span>
        <span v-on:click="go_to_progress_graph">
            <a href="{{=URL('default','progress')}}" > Progress Graph </a>
        </span>
        <span v-on:click="go_to_account_settings">
            <a href="{{=URL('default','account_settings')}}" > Account Settings </a>
        </span>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu </span> 

    <div id = "main">
        <!-- Account Settings -->
        <button v-on:click="populate_user_info" >Populate Data Fields </button> 
        <h1> User Profile</h1>
        <h1> First Name </h1>
        <div id="first_name"> </div>
        <h1> Last Name </h1>
        <div id="last_name"> </div>
        <h1> Current Class </h1>
        <div id="current_class"> </div>
        <h1> User Email </h1>
        <div id="user_email"> </div>
        <h1> User Team Name </h1>
        <div id="user_team_name"> </div>
    </div>

</div>


    <script src="{{=URL('static', 'js/default_index.js')}}"></script>
