{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <!-- Calling our css file  -->
    <link href="{{=URL('static', 'css/myapp.css')}}" rel="stylesheet" type="text/css" />
    <!-- API to route to other pages besides the main page.  -->
    <script> 
      var go_to_backlog_graph_page = "{{=URL('api', 'get_post_list')}}";
      var set_user_info = "{{=URL('api', 'set_user_info')}}";
      var check_log_in = "{{=URL('api', 'check_log_in')}}";
    </script>
 
{{end}}


<div id="vue-div" class="display:none">

      <!-- Create the Side Navigation Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <span >
            <a href="{{=URL('default', 'index')}}" > Home </a>
        </span>
        <span >
        <a href="{{=URL('default', 'dashboard')}}" > Dashboard </a>
        </span>
        <span v-on:click="go_to_backlog_graph">
            <a href="{{=URL('default', 'backlog')}}" > Backlog Graph</a>
        </span>
        <span v-on:click="go_to_work_done_graph">
            <a href="{{=URL('default','work_done')}}" > Work Done Graph</a>
        </span>
        <span v-on:click="go_to_progress_graph">
            <a href="{{=URL('default','progress')}}" > Progress Graph </a>
        </span>
        <span v-on:click="go_to_account_settings">
            <a href="{{=URL('default','account_settings')}}" > Account Settings </a>
        </span>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu </span> 

    <div id="main">
        
        <!-- Main Page to login with user name and password-->
        Email: <input type="text" id="login_email"><br>
        Password: <input type="text" id="login_password"><br>
        <input type="submit" v-on:click="log_in" value="Log In">
        <input type="submit" value="Sign Up">
        <br > <br> 
        <!-- Another page for user to be able to register with their info-->
        First Name: <input type="text" id="register_firstname"><br>
        Last Name : <input type="text" id="register_lastname"><br>
        Email  : <input type="text" id="register_email"><br>
        Password : <input type="text" id="register_password"><br>
        Team Name : <input type="text" id="register_team_name"><br>
        Class : <input type="text" id="register_class_name"><br>
        
        <button v-on:click="register_user"> Register </button>

        <!-- This is where the user inputs the number of user stories -->
        <!-- Next they will have to assign each of these stories "story points" -->
        <!-- Then they will have to determine how many sprints they have -->
        <!-- Then there will have to be something to determine how many points they have finished
              in a sprint -->
        <!-- Duration of each sprint in terms of days -->
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
